*__pycache__
*.pyc
*.csv

*.log
*.xlsx
*.pdf
*.json
*.DS_Store
*.sqlite3

.env
.htaccess
.pre-commit-config.yaml

.idea/*
media/*
venv/*
!/deploy/sql
!/docker-compose.yml
#00*.py
prod.py
credential.cnf
mysqlclient-2.0.3-cp39-cp39-win_amd64.whl
static/media/