.ft-active {
    background-color: rgba(59, 130, 246, .3);
    color: rgba(59, 130, 246);
    padding: 16px;
    transition: background-color .3s, color .3s;
}

.ft-active:hover {
    background-color: rgba(59, 130, 246, .7);
    color: rgb(252, 243, 243, .6);
    padding: 16px;
    transition: background-color .3s, color .3s;
}

.ft-active.active:hover {
    background-color: rgba(59, 130, 246, .7);
    color: rgb(252, 243, 243, .6);
    padding: 16px;
    transition: background-color .3s, color .3s;
}

.ft-admin-nav {
    background-color: rgba(59, 130, 246, .3);
    color: rgba(59, 130, 246);
    padding: 16px;
    transition: background-color .3s,
        color .3s;
    border-radius: 9px;
}

.ft-admin-nav:hover {
    background-color: rgba(59, 130, 246, .7);
    color: rgb(252, 243, 243, .6);
    padding: 16px;
    transition: background-color .3s, color .3s;
}

.ft-admin-nav.active:hover {
    background-color: rgba(59, 130, 246, .7);
    color: rgb(252, 243, 243, .6);
    padding: 16px;
    transition: background-color .3s, color .3s;
}

/* .tooltiptext::after {
    content: '';
    display: block;
    position: absolute;
    right: 100%;
    top: 50%;
    margin-top: -10px;
    width: auto;
    height: auto;
    border-top: 10px solid transparent;
    border-right: 10px solid black;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
} */

.mobile-nav-link {
    background-color: rgba(59, 130, 246, .3);
    color: rgba(59, 130, 246);
    padding: 16px;
    transition: background-color .3s,
        color .3s;
}

.sidebar {
    flex: 0 0 200px;
    max-width: 200px;
    min-width: 200px;
    width: 200px;
    transition: .3s all;
}

.sidebar_closed {
    flex: 0 0 80px;
    max-width: 80px;
    min-width: 80px;
    width: 80px;
    transition: .3s all;
}

.sidebar-wrapper {
    width: inherit;
    position: fixed;
}

.layout {
    flex: auto;
    min-height: 0;
}

.dropdown::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 12px solid #b3b4b5;
    position: absolute;
    top: -13px;
    right: 18px;
}

.dropdown {
    top: 90px;
}

.sider-trigger {
    width: inherit;
    position: fixed;
    bottom: 0;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.75rem;

}

.sider-trigger-closed {
    width: inherit;
    position: fixed;
    bottom: 0;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.nav-text {
    transition: .3s all;
    opacity: 1;
    display: block;
}

.nav-text-hidden {
    transition: .3s all;
    opacity: 0;
    display: none;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: row;
}

.mobile-nav {
    position: fixed;
    top: 0;
    z-index: 4;
}

.content-section {
    position: relative;
    top: 100px;
}