@media screen and (min-width: 240px) and (max-width: 968px) {
    .main-layout {
        top: 70px;
    }
}

@media screen and (min-width: 968px) and (max-width: 1024px) {
    .main-layout {
        top: 73px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1200px) {
    .main-layout {
        top: 73px;
    }
}